## 리스트 컴프리헨션

In [1]:
list(map(lambda x: x + 10, [1, 2, 3]))

[11, 12, 13]

* 리스트 컴프리헨션을 사용한 경우

In [2]:
[n * 2 for n in range(1, 10 + 1) if n % 2 == 1]

[2, 6, 10, 14, 18]

* 리스트 컴프리헨션을 사용하지 않은 경우

In [3]:
a = []
for n in range(1, 10+1):
    if n % 2 == 1:
        a.append(n * 2)

a

[2, 6, 10, 14, 18]

* 딕셔너리에서 리스트 컴프리헨션 사용 전

In [5]:
a = {}
for key, value in original.items():
    a[key] = value

NameError: name 'original' is not defined

* 딕셔너리에서 리스트 컴프리헨션 사용 후

In [ ]:
a = {key : value for key, value in original.items()}

## 제네레이터

In [6]:
def get_natural_number():
    n = 0
    while True:
        n += 1
        yield n

In [7]:
get_natural_number()

In [8]:
g = get_natural_number()

In [9]:
for _ in range(0, 100):
    print(next(g))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [10]:
def generator():
    yield 1
    yield 'string'
    yield True

g = generator()
g

In [11]:
next(g)

1

In [12]:
next(g)

'string'

In [13]:
next(g)

True

## range

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
range(5)

range(0, 5)

In [16]:
type(range(5))

range

In [17]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

* 숫자 100만개 출력

In [18]:
a = [n for n in range(10000000)]
b = range(10000000)

In [19]:
len(a)

10000000

In [20]:
len(b)

10000000

In [21]:
len(a) == len(b)

True

In [22]:
b

range(0, 10000000)

In [23]:
type(b)

range

In [24]:
import sys

sys.getsizeof(a)

81528056

In [25]:
sys.getsizeof(b)

48

In [26]:
b[999]

999

## enumerate

In [27]:
a = [1,2,3,2,45,2,5]
a

[1, 2, 3, 2, 45, 2, 5]

In [28]:
enumerate(a)

In [29]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 2), (4, 45), (5, 2), (6, 5)]

* `a =  ['a1', 'b2', 'c3']`의 리스트에서 리스트의 인덱스와 값을 같이 출력하고 싶을때

In [30]:
a =  ['a1', 'b2', 'c3']

for i in range(len(a)):
    print(i, a[i])

0 a1
1 b2
2 c3

In [31]:
i = 0
for v in a:
    print(i, v)
    i += 1

0 a1
1 b2
2 c3

In [32]:
for i, v in enumerate(a):
    print(i, v)

0 a1
1 b2
2 c3

## // 나눗셈 연산자

In [1]:
5 / 3

1.6666666666666667

In [2]:
type(5 / 3)

float

In [3]:
5 // 3

1

In [4]:
type(5 // 3)

int

In [5]:
int(5 / 3)

1

In [6]:
type(int(5 / 3))

int

In [7]:
5 % 3

2

In [8]:
divmod(5, 3)

(1, 2)

## print()

In [9]:
print('A1', 'B2')

A1 B2

In [10]:
print('A1', 'B2', sep=',')

A1,B2

In [11]:
print('aa', end=' ')
print('bb')

aa bb

In [12]:
a = ['A', 'B']
print(' '.join(a))

A B

In [14]:
idx = 1
fruit = "Apple"
print('{0}:{1}'.format(idx + 1, fruit))

2:Apple

In [15]:
print('{}:{}'.format(idx + 1, fruit))

2:Apple

In [16]:
print(f'{idx + 1}:{fruit}')

2:Apple

## pass

In [17]:
class MyClass(object):
    def method_a(self):

    def method_b(self):
        print("Method B")
c = MyClass()

IndentationError: expected an indented block (<ipython-input-17-2582e094b12f>, line 4)

In [18]:
class MyClass(object):
    def method_a(self):
        # 여기에 pass를 추가
        pass

    def method_b(self):
        print("Method B")
c = MyClass()